@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  background-color: #000;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./assets/neue/NeueMontreal-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./assets/neue/NeueMontreal-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./assets/neue/NeueMontreal-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./assets/neue/NeueMontreal-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./assets/neue/NeueMontreal-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./assets/neue/NeueMontreal-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('./assets/neue/NeueMontreal-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@layer base {
  body {
    @apply font-neue text-white bg-black antialiased select-none scrollbar-hide;
  }
}

@layer components {
  .w-contain {
    @apply 2xl:max-w-[1400px] w-[95%] mx-auto;
  }

  .lg-br {
    @apply lg:inline hidden;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

}